.right-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    align-items: center;
}
.left-section{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hamburger-menu-icon{
    width: 25px;
    margin: 0 15px 0 15px;
}

.youtube-logo{
    width: 100px;
}

.Search{
    width: 350px ;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(217, 208, 208);
}

.search-icon{
    width: 36px;
}

.voice-search-icon{
    width: 30px;
}

.upload{
    width: 30px;
}

.youtube-apps{
    width: 25px;
}

.notifications{
    width: 25px;
}

.my-channel{
    width:30px;
}