.v-preview{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.v-thumbnail{
    width: 400px;
}
.v-info{
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.ch-cover{
    display: inline-block;
    margin-right: 12px;
}
.v-cover-pic{
    border-radius: 50px;
    width:45px;
}

.v-info-text{
    display: inline-block;
    width: 400px;
}
.v-title{
    margin:0;
    margin-bottom: 12px;
    font-weight: 650;
}
.v-author{
    margin:0;
    margin-bottom: 2px;
    color: rgb(91, 91, 91);
}
.v-stats{
    margin: 0;
    color :rgb(91, 91, 91)
}